<h1><%= @student.name %>'s Profile!</h1>
 <h2><%= @student.name %>'s Major:</h2>
 <h3><%=@student.major%></h3>
 <%= link_to "Edit your profile", edit_student_path %>
<h3>Here are your current courses:</h3>
<ol>
 <%@student.enrollments.each do |enrollment| %>
<li>
 <%= link_to "#{enrollment.course.name}", course_path(enrollment.course)%>
 <%=button_to "Drop Course", enrollment, method: :delete %>
 </li>
 <%end %>
 </ol>

<br>

<h3>Register on a New Course</h3>
<%= form_for @enrollment do |f| %>
<%= f.label :course_id %>
<%= f.collection_select :course_id, Course.all, :id, :name %><br>

<%= f.hidden_field :student_id, value: @student.id %><br>

<%= f.submit %><br>
<%end %>
