<h1>Welcome back <%= @teacher.name %>!</h1>
 <h2> Teacher Bio:</h2>
 <h3><%=@teacher.bio%></h3>
<h3>Here are your current courses:</h3>
<ol>
 <%@teacher.courses.each do |course| %>
<li>
 <%= link_to "#{course.name}", course %>
 </li>
  <%= button_to "Delete Course", course_path(course), method: :delete%>
 <%end %>
 </ol>
<%= button_to "Edit your profile", edit_teacher_path, method: :get%>
<br>
<h3>Create New Course</h3>
<%= form_for @course do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.label :description %>
<%= f.text_field :description %><br>

<%= f.hidden_field :teacher_id, value: @teacher.id %><br>
<%= f.submit %><br>
<%end %>
