<h1>Welcome back <%= @teacher.name %>!</h1>
 <h2> Teacher Bio:</h2>
 <h3><%=@teacher.bio%></h3>
<h3>Here are your current courses:</h3>
<ol>
 <%@teacher.courses.each do |course| %>
<li>
 <%= course.name %>
 </li>

 <%end %>
 </ol>
<%= link_to "Edit your profile", edit_teacher_path %>
<br>
<%= link_to "Create New Course", new_course_path(@course) %>
<br>

<%= button_to "Back to List", teachers_path%>
